# macOS
.DS_Store

# VS Code
.vscode/launch.json
.vscode/settings.json

# Python
.venv
.eggs
__pycache__

# PyPI
scripts/env
build
dist
sphinxcontrib_xlsxtable.egg-info

# Sphinx
test/_build

# test
/test/_res/sample-images.xlsx.media
